* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    background-color: black;
    color: #FFFF;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    min-width: 100vw;
    padding: 10px;
    gap: 10px;
}

nav a:hover {
    color: #842129;
    transition: 0.25;
}

nav img {
    height: 20px;
    width: 20px;
}

nav input[type=text] {
    background-color: #000000;
    color: white;
    width: 50%;
    border: none;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
}

.main {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 20px;
}

.left {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 20px 10px 10px 60px;
}

.items {
    display: flex;
    flex-direction: column;
}

img {
    height: 133px;
    width: 129px;
}

.row {
    display: flex;
    padding: 20px 0 0 0;
}

.row-r {
    display: flex;
    flex-direction: column;
    padding: 5px;
    line-height: 30px;
    width: 100%;
}
.row-r a{
    color: #000000;
}
.row-r div {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    font-size: 14px;
}

.right {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin: 20px 10px 10px 60px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.right button {
    background-color: black;
    color: #FFFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.sp {
    display: flex;
    justify-content: space-between;
}

.b-left {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 66%;
    padding-left: 100px;
}
.b-left div{
    width: 65%;
}
.b-left span {
    font-size: 16px;
    color: #909090;
    cursor: pointer;
}

.slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
}

label span::after {
    float: right;
    content: "+";
}

#touch,
#touch0,
#touch1 {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide,
#touch0:checked+.slide,
#touch1:checked+.slide {
    padding-top: 10px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 50px 0 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px 10px 10px 60px;
    line-height: 16.45px;
    gap: 50px;
}

.footer-left h1 {
    width: 400px;
    height: 44px;
    line-height: 44px;
}

.footer-left p {
    width: 400px;
    height: 32px;
}

.footer-left input[type=text] {
    width: 400px;
    margin-right: 5px;
}

.footer-left a {
    display: flex;
    align-items: center;
    margin-left: -85px;
    height: 80%;
    font-size: 14px;
    color: #000000;
}

.footer-left div {
    display: flex;
    margin-right: 5px;
}

.footer-right {
    display: flex;
    justify-content: flex-start;
    width: 35%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 35%;
    line-height: 26px;
}

.column span a {
    color: #909090;
}

.head,
.footer-left a {
    font-weight: bold;
}
@media screen and (max-width: 1050px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left{
        order: 0;
        margin: 0;
        width: 85%;
    }
    .right{
        order: 1;
        margin: 0;
        width: 85%;
    }
    .b-left{
        order: 2;
        margin: 0;
        padding: 10%;
        width: 100%;
    }
    .b-left div{
        width: 85%;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .footer-left{
        display: flex;
        align-items: center;
        order: 3;
        margin: 0;
        padding: 0 0 5% 0;
        width: 100%;
    }
    .footer-left a{
        margin-top: 5%;
    }
    .footer-right{
        display: flex;
        order: 4;
        margin: 0;
        padding: 0 0 0 10%;
        width: 100%;
    }
}